# flask and dash
Flask
dash
dash-bootstrap-components
Jinja2
flask-bcrypt 
python-dotenv
flask-cors
flask_login 
dash-table



# data manipulation
pandas
openpyxl
xlrd
XlsxWriter
numpy
python-dateutil

# caching and performance
Flask-Caching



# Database (MySQL)
Flask-SQLAlchemy
pymysql
cryptography
PyMySQL
mysql-connector-python


# deployment
gunicorn


# setup
setuptools



# excels
openpyxl